<ion-view view-title='login'>
    <ion-nav-buttons side="primary">
        <button class="button back-button buttons  button-clear header-item" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>
    </ion-content>
</ion-view>
