<ion-view view-title='signup'>
    <ion-content class="padding">
        <form name='signupForm' class="list" ng-submit="signup(signupForm)" novalidate>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" name='mobile' ng-model="user.mobile" ng-required='true' />
            </label>
            <span ng-show="signupForm.name.$error.required">pleas enter name</span>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" name='password' ng-model="user.password" ng-required='true' />
            </label>
            <span ng-show="signupForm.password.$error.required">pleas enter password</span>
            <label class="item item-input">
                <span class="input-label">captcha</span>
                <input type="text" name='captcha' ng-required='true' />
            </label>
            <input type='button' class='button' ng-click="getCaptcha(user.mobile)" value="click" />
            <span ng-show="signupForm.captcha.$error.required">pleas enter captcha</span>
            <button class="button button-full button-positive">signup
            </button>
        </form>
    </ion-content>
</ion-view>
