<ion-tabs class="tabs-icon-top tabs-positive" ng-class="{'tabs-item-hide': hideTabs}">
    <ion-tab title="product" icon="ion-home" href="#/tabs/products">
        <ion-nav-view name="products-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="category" icon="ion-ios-information" href="#/tabs/categories">
        <ion-nav-view name="category-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="cart" icon="ion-ios-world" href="#/tabs/cart">
        <ion-nav-view name="cart-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="mine" icon="ion-ios-world" href="#/tabs/mine">
        <ion-nav-view name="mine-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
